/* CounterButtonGroup.css */

button {
  -webkit-user-select: none;  /* Chrome, Safari, Opera */
  -moz-user-select: none;     /* Firefox */
  -ms-user-select: none;      /* IE/Edge */
  user-select: none;          /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
label{
  font-weight: 100;
  font-size: 2em;

}
.plus-button{
  color: rgb(61, 255, 61);
  background-color: limegreen;
  border-radius: 5px;
  border: none;
  padding: 10px;
}

.minus-button{
  color: rgb(242, 227, 227);
  background-color: tomato;
  border-radius: 5px;
  border: none;
  padding: 10px;
}

.form-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;  
}

.form-group input {
  text-align: center;
  color: rgb(0, 0, 0);
  border-radius: 5px;
  width: 50%;
  font-size: calc(9vw + 1.25vh + .5vmin); 

} 


.form-group input:focus {
  color: rgb(4, 0, 131);
  background-color: rgb(245, 253, 189);
}

  .form-group button {
    aspect-ratio: 1/1;
    width: 7em;
    font-size: large;
  }
 .counter-value{
  width:100px;
  text-align: center;
  font-size: calc(9vw + 1.25vh + .5vmin); 
 }
  