@font-face {
  font-family: 'dwarvenaxebb';
  src: url("./fonts/dwarvenaxebb.otf");
}

@font-face {
  font-family: 'dwarvenaxebb_italic';
  src: url("./fonts/dwarvenaxebb_ital.otf");
}

body {
  margin: 0;
  font-family: dwarvenaxebb;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

